<dialog id="addTxt">
    <input type="text" id="addTxtDialogInput" name="addTxtDialogInput" value="">
    <p>dostepne typy: {{fileTypes}}</p>
    <button value="cancel" formmethod="dialog" id="addTxtDialogCloseBtn">zamknij</button>
    <button formmethod="dialog" id="addTxtDialogSumbitBtn">dodaj</button>
</dialog>   
<dialog id="editDirNameDialog">
    <input type="text" id="editDirNameDialogInput" name="editDirNameDialogInput" value="">
    <button value="cancel" formmethod="dialog" id="editDirNameDialogCloseBtn">zamknij</button>
    <button formmethod="dialog" id="editDirNameDialogSumbitBtn">zatwierdź</button>
</dialog> 
<dialog id="addDir">
    <input type="text" id="addDirDialogInput" name="addDirDialogInput" value="">
    <button value="cancel" formmethod="dialog" id="addDirDialogCloseBtn">zamknij</button>
    <button formmethod="dialog" id="addDirDialogSumbitBtn">dodaj</button>
</dialog>


<div class="body">
    <div class="side-panel">
        <form enctype="multipart/form-data" method="POST" action="/upload">
            <label for="filetoupload">select file</label>
            <input type="file" multiple required accept="*" name="filetoupload" id="filetoupload">
            <button type="submit">upload</button>
        </form>

        <div class="side-panel-buttons">
            <button id="showDirDialog">add new folder</button>
            <button id="showTxtDialog">add new txt file</button>
            {{#if (homeDir link)}}
                <button id="editDirName">edit directory name</button>
            {{/if}}
        </div>
    </div>
    <div class="main-panel">
        {{&link link}}
        <div class="files">
        {{#each files}}
            <div class="file">
            {{#if (isDir ../link name)}}   
                <a href="/home{{&makeLink ../link name}}"><img style="width:60px;height:60px;" src="{{&img ../link name}}" alt="img"></a>
            {{else}}
                <form method="POST" action="/file">
                    <input type="hidden" name="name" value="{{name}}">
                <input type="hidden" name="link" value="{{../link}}">
                <button type="submit"><img src="{{&img ../link name}}" alt="img"></button>
                </form>
            {{/if}}
            <p>{{name}}</p>
                    <form method="POST" action="/remove">
                        <input type="hidden" name="name" value="{{name}}">
                        <input type="hidden" name="link" value="{{../link}}">
                        <button type="submit">x</button> 
                    </form>
            </div>
        {{/each}}
        </div>

    </div>


</div>

<script>
    //const files = {{&json files}}; 
    //console.log(files);
    const link = {{&json link}}
    const addTxt = document.getElementById('addTxt');
    const showTxtDialog = document.getElementById('showTxtDialog');
    const addTxtDialogSumbitBtn = document.getElementById('addTxtDialogSumbitBtn');
    const addTxtDialogCloseBtn = document.getElementById('addTxtDialogCloseBtn');
    const addTxtDialogInput = document.getElementById('addTxtDialogInput');
    const addDir = document.getElementById('addDir');
    const showDirDialog = document.getElementById('showDirDialog');
    const addDirDialogSumbitBtn = document.getElementById('addDirDialogSumbitBtn');
    const addDirDialogCloseBtn = document.getElementById('addDirDialogCloseBtn');
    const addDirDialogInput = document.getElementById('addDirDialogInput');

    showTxtDialog.addEventListener('click', () => {
        addTxt.showModal();
    });
    addTxtDialogCloseBtn.addEventListener('click', () => {
        addTxt.close();
    });
    addTxtDialogSumbitBtn.addEventListener('click', () => {
        if(!addTxtDialogInput.value) return;

       const options = {
            method: "POST",
            headers: {
                "Content-Type": "application/json"     
            },
            body: JSON.stringify({value:addTxtDialogInput.value, link:link})
        };
        fetch("/upload/txt", options).then(()=>{
            addTxtDialogInput.value = ""
            addTxt.close();
            window.location.reload()
        }).catch((ex)=>{
            console.log("coś poszło nie tak : ", ex)
        }) 
    });
    showDirDialog.addEventListener('click', () => {
        addDir.showModal();
    });
    addDirDialogCloseBtn.addEventListener('click', () => {
        addDir.close();
    });
    addDirDialogSumbitBtn.addEventListener('click', () => {
        if(!addDirDialogInput.value) return;

        const options = {
            method: "POST",
            headers: {
                "Content-Type": "application/json"     
            },
            body: JSON.stringify({value:addDirDialogInput.value, link:link })
        };
        fetch("/upload/dir", options).then(()=>{
            addDirDialogInput.value = ""
            addDir.close();
            window.location.reload()
        }).catch((ex)=>{
            console.log("coś poszło nie tak : ", ex)
        }) 
    });



    const editDirName = document.getElementById('editDirName');
    const editDirNameDialog = document.getElementById('editDirNameDialog');
    const editDirNameDialogInput = document.getElementById('editDirNameDialogInput');
    const editDirNameDialogCloseBtn = document.getElementById('editDirNameDialogCloseBtn');
    const editDirNameDialogSumbitBtn = document.getElementById('editDirNameDialogSumbitBtn');


    editDirName.addEventListener('click', () => {
        editDirNameDialog.showModal();
    });
    editDirNameDialogCloseBtn.addEventListener('click', () => {
        editDirNameDialog.close();
    });
    editDirNameDialogSumbitBtn.addEventListener('click', () => {
        if(!editDirNameDialogInput.value) return;
       const options = {
            method: "POST",
            headers: {
                "Content-Type": "application/json"     
            },
            body: JSON.stringify({value:editDirNameDialogInput.value, link:link})
        };
        fetch("/changeDirName", options).then(()=>{
            editDirNameDialogInput.value = ""
            editDirNameDialog.close();
            window.location.reload()
        }).catch((ex)=>{
            console.log("coś poszło nie tak : ", ex)
        }) 
    });


</script>
